.container
  .banner
    %h1 Susy Grids
  .nav
    %ul
      %li= link_to 'Link'
  .main
    %p A selection of grids made with the susy framework.
    %p This is a susy "magic grid", fluid on the inside and elastic on the outside.
